.c5-demo-icon { background-image: url('png/c5-demo-icon.png'); background-repeat: no-repeat; background-position: center; }

.computer-icon-blog { background-image: url('png/computer-icon-blog.png'); background-repeat: no-repeat; background-position: center; }

.computer-icon-demo { background-image: url('png/computer-icon-demo.png'); background-repeat: no-repeat; background-position: center; }

.computer-icon-work { background-image: url('png/computer-icon-work.png'); background-repeat: no-repeat; background-position: center; }

.work-icon { background-image: url('png/work-icon.png'); background-repeat: no-repeat; background-position: center; }

